<%- layout('layout') -%>
<div id="attach">
  <ul>
    <li class="header">
      <h4>Attach <em><%= bot.name %></em> to a twitter account</h4>
    </li>
    <li class="bottom step1">
      <h2>Create a twitter account below</h2>
      <iframe id="twitter_signup" src="http://<%= host %>/twitter/create"></iframe>
      <div class="button step1done">
        <span>Done</span>
        <i class="icon-double-angle-right"></i>
      </div>
    </li>
    <li class="bottom step2">
      <h2>Log in or Create a twitter account below</h2>
      <iframe src="http://<%= host %>/auth/attach/twitter"></iframe>
      <div class="button createAccount">
        <i class="icon-twitter"></i>
        <span>Create a new Account</span>
      </div>
      <div class="button finished">
        <span>Finished</span>
        <i class="icon-double-angle-right"></i>
      </div>
    </li>
  </ul>
</div>