<%- layout('layout') -%>
<div id="create" class="configure">
  <ul>
    <li class="header">
      <h4>Create a Bot</h4>
    </li>
    <%- partial('botForm',{bot : {}, action : "create"}) -%>
    <li class="bottom">
      <div class="create button">
        <span>Attach Account</span>
        <i class="icon-double-angle-right"></i>
      </div>
    </li>
  </ul>
</div>