<%- layout('layout') -%>
<div id="dashboard">
  <ul class="bots">
    <li class="header">
      <div>
        <h4>Follower Bots</h4>
      </div>
    </li>
    <li class="bot">
      <div class="name">
        <i class="icon-comment"></i>
        <span>Some Robot</span>
      </div>
      <div class="status">
        <span>status text</span>
      </div>
      <div class="options">
        <a href="/bots/config/some-robot"><i class="icon-cog"></i></a>
      </div>
    </li>
    <li class="bottom">
      <a href="/create">
        <div class="new button">
          <i class="icon-plus"></i>
          <span>Create Bot</span>
        </div>
      </a>
    </li>
  </ui>
</div>