#configure ul .bottom .back.button {
  float:left;
}
#configure .currentUser {
  width:100%;
  clear:both;
  float:left;
}
#configure .currentUser h3 {
  line-height:60px;
  font-size:24px;
  float:left;
}
#configure .currentUser h3 a {
  color:rgb(173, 98, 97);
}
#configure .currentUser .bot_login {
  float:right;
  margin-top:10px;
  margin-right:10px;
  line-height:40px;
  height:40px;
}