#dashboard .bots .bot {
  font-size:24px;
  clear:both;
  float:left;
  width:100%;
  padding:20px 0px;
  cursor:pointer;
}
#dashboard .bots .bot:hover {
  background-color:rgb(121,118,110);
}
#dashboard .bots .bot div {
  float:left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#dashboard .bots .bot .is_on {
  width: 95px;
  margin-left:10px;
}
#dashboard .bots .bot .name i {
  margin-left:10px;
}
#dashboard .bots .bot .options {
  width:30px;
  right:10px;
  position:absolute;
  text-align: center;
}
#dashboard .bots .bot .status {
  text-align:center;
  width: 40%;
  font-size:15px;
  margin-top: 5px;
}
.new.button {
  float:right;
  margin-top:20px;
  margin-right: 8px;
}