@font-face {
    font-family: 'SourceSansProExtraLight';
    src: url('../fonts/source/SourceSansPro-ExtraLight-webfont.eot');
    src: url('../fonts/source/SourceSansPro-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/source/SourceSansPro-ExtraLight-webfont.woff') format('woff'),
         url('../fonts/source/SourceSansPro-ExtraLight-webfont.ttf') format('truetype'),
         url('../fonts/source/SourceSansPro-ExtraLight-webfont.svg#SourceSansProExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProExtraLightItalic';
    src: url('../fonts/source/SourceSansPro-ExtraLightIt-webfont.eot');
    src: url('../fonts/source/SourceSansPro-ExtraLightIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/source/SourceSansPro-ExtraLightIt-webfont.woff') format('woff'),
         url('../fonts/source/SourceSansPro-ExtraLightIt-webfont.ttf') format('truetype'),
         url('../fonts/source/SourceSansPro-ExtraLightIt-webfont.svg#SourceSansProExtraLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProLight';
    src: url('../fonts/source/SourceSansPro-Light-webfont.eot');
    src: url('../fonts/source/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/source/SourceSansPro-Light-webfont.woff') format('woff'),
         url('../fonts/source/SourceSansPro-Light-webfont.ttf') format('truetype'),
         url('../fonts/source/SourceSansPro-Light-webfont.svg#SourceSansProLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProLightItalic';
    src: url('../fonts/source/SourceSansPro-LightIt-webfont.eot');
    src: url('../fonts/source/SourceSansPro-LightIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/source/SourceSansPro-LightIt-webfont.woff') format('woff'),
         url('../fonts/source/SourceSansPro-LightIt-webfont.ttf') format('truetype'),
         url('../fonts/source/SourceSansPro-LightIt-webfont.svg#SourceSansProLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProRegular';
    src: url('../fonts/source/SourceSansPro-Regular-webfont.eot');
    src: url('../fonts/source/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/source/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('../fonts/source/SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('../fonts/source/SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProItalic';
    src: url('../fonts/source/SourceSansPro-It-webfont.eot');
    src: url('../fonts/source/SourceSansPro-It-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/source/SourceSansPro-It-webfont.woff') format('woff'),
         url('../fonts/source/SourceSansPro-It-webfont.ttf') format('truetype'),
         url('../fonts/source/SourceSansPro-It-webfont.svg#SourceSansProItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProSemibold';
    src: url('../fonts/source/SourceSansPro-Semibold-webfont.eot');
    src: url('../fonts/source/SourceSansPro-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/source/SourceSansPro-Semibold-webfont.woff') format('woff'),
         url('../fonts/source/SourceSansPro-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/source/SourceSansPro-Semibold-webfont.svg#SourceSansProSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProSemiboldItalic';
    src: url('../fonts/source/SourceSansPro-SemiboldIt-webfont.eot');
    src: url('../fonts/source/SourceSansPro-SemiboldIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/source/SourceSansPro-SemiboldIt-webfont.woff') format('woff'),
         url('../fonts/source/SourceSansPro-SemiboldIt-webfont.ttf') format('truetype'),
         url('../fonts/source/SourceSansPro-SemiboldIt-webfont.svg#SourceSansProSemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBold';
    src: url('../fonts/source/SourceSansPro-Bold-webfont.eot');
    src: url('../fonts/source/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/source/SourceSansPro-Bold-webfont.woff') format('woff'),
         url('../fonts/source/SourceSansPro-Bold-webfont.ttf') format('truetype'),
         url('../fonts/source/SourceSansPro-Bold-webfont.svg#SourceSansProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansProBoldItalic';
    src: url('../fonts/source/SourceSansPro-BoldIt-webfont.eot');
    src: url('../fonts/source/SourceSansPro-BoldIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/source/SourceSansPro-BoldIt-webfont.woff') format('woff'),
         url('../fonts/source/SourceSansPro-BoldIt-webfont.ttf') format('truetype'),
         url('../fonts/source/SourceSansPro-BoldIt-webfont.svg#SourceSansProBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBlack';
    src: url('../fonts/source/SourceSansPro-Black-webfont.eot');
    src: url('../fonts/source/SourceSansPro-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/source/SourceSansPro-Black-webfont.woff') format('woff'),
         url('../fonts/source/SourceSansPro-Black-webfont.ttf') format('truetype'),
         url('../fonts/source/SourceSansPro-Black-webfont.svg#SourceSansProBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBlackItalic';
    src: url('../fonts/source/SourceSansPro-BlackIt-webfont.eot');
    src: url('../fonts/source/SourceSansPro-BlackIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/source/SourceSansPro-BlackIt-webfont.woff') format('woff'),
         url('../fonts/source/SourceSansPro-BlackIt-webfont.ttf') format('truetype'),
         url('../fonts/source/SourceSansPro-BlackIt-webfont.svg#SourceSansProBlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GeometrySoftProBoldN';
    src: url('../fonts/geometry/Geometry_Soft_Pro-Bold_N-webfont.eot');
    src: url('../fonts/geometry/Geometry_Soft_Pro-Bold_N-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geometry/Geometry_Soft_Pro-Bold_N-webfont.woff') format('woff'),
         url('../fonts/geometry/Geometry_Soft_Pro-Bold_N-webfont.ttf') format('truetype'),
         url('../fonts/geometry/Geometry_Soft_Pro-Bold_N-webfont.svg#GeometrySoftProBoldN') format('svg');
    font-weight: normal;
    font-style: normal;

}
